# yaml
components_manager:
    components:
        logging:
            fs-task-processor: fs-task-processor
            loggers:
                default:
                    file_path: '@stderr'
                    level: info
                    overflow_behavior: discard
                    format: raw


        dns-client:
            fs-task-processor: fs-task-processor

        secdist:
            provider: default-secdist-provider
            
        default-secdist-provider:
            config: configs/secdist.json
            missing-ok: true

        testsuite-support:

        postgres-db-1:
            dbconnection: 'postgresql://postgres:postgres@postgres:5432/it_cup_onecode'
            blocking_task_processor: fs-task-processor
            dns_resolver: async
            sync-start: true
            
        server:
            listener:
                port: 8080
                task_processor: main-task-processor
            listener-monitor:
                port: 8086
                task_processor: monitor-task-processor

        kafka-consumer:
            group_id: fraud-detection-service
            topics:
                - Request
            auto_offset_reset: earliest
            security_protocol: PLAINTEXT
            rd_kafka_custom_options:
                bootstrap.servers: kafka:29092
                enable.auto.commit: true

        kafka-producer:
            delivery_timeout: 5s
            queue_buffering_max: 1s
            security_protocol: PLAINTEXT
            rd_kafka_custom_options:
                bootstrap.servers: kafka:29092

        rule-processor:
            ml_model_config_dir: /workspaces/repozitorij-dlya-raboty-7408/rules_service/model_configs
            response_topic: Response

    task_processors:
        main-task-processor:
            worker_threads: 4

        fs-task-processor:
            worker_threads: 2

        monitor-task-processor:
            worker_threads: 1
            thread_name: mon

        consumer-task-processor:
            worker_threads: 2
            thread_name: cons

        consumer-blocking-task-processor:
            worker_threads: 2
            thread_name: cblk

        producer-task-processor:
            worker_threads: 2
            thread_name: prod

        producer-blocking-task-processor:
            worker_threads: 2
            thread_name: pblk

    default_task_processor: main-task-processor
